.btns{
    float: right;
}
.form-popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  .form-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 30px;
    border-radius: 20px;
  }
  
  .input {
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    background: #f1f1f1;
  }
  
  .input:focus {
    background-color: #ddd;
    outline: none;
  }
  
//   .btn {
//     background-color: #04AA6D;
//     color: white;
//     padding: 16px 35px;
//     border: none;
//     border-radius: 20px;
//     cursor: pointer;
//     opacity: 0.8;
//   }
  .btn3 {
    background-color: #0f66b8;
    color: white;
    padding: 16px 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
  }
  .btn2 {
    background-color: #e91010;
    color: white;
    padding: 16px 35px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .cancel {
    background-color: red;
  }
  
  .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  .btn-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .show {
    display: block;
  }
  
  .hide {
    display: none;
  }
  